/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
/**
 * As per: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 *
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class=alpha` to a `h3`; a double-stranded
 * heading hierarchy.
 */
h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4,
h5,
.heading-5,
h6,
.heading-6 {
  color: $color-text-dark;
  line-height: 1.1;
}

h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4,
h5,
.heading-5,
h6,
.heading-6  {
  font-weight: 700;
}

h1,
.heading-1 {
  font-size: em($size-i, $base-font-size);
  font-weight: 900;
  margin-bottom: em($base-spacing-unit * 2, $size-i);

  p + &,
  blockquote + &,
  pre + & {
    margin-top: em($base-spacing-unit * 3, $size-i)px;
  }
}

h2,
.heading-2 {
  font-size: em($size-ii, $base-font-size);
  margin-bottom: em($base-spacing-unit * 2, $size-ii);

  p + &,
  blockquote + &,
  pre + & {
    margin-top: em($base-spacing-unit * 3, $size-ii);
  }
}

h3,
.heading-3 {
  font-size: em($size-iii, $base-font-size);
  margin-bottom: em($base-spacing-unit * 2, $size-iii);

  p + &,
  blockquote + &,
  pre + & {
    margin-top: em($base-spacing-unit * 3, $size-iii);
  }
}

h4,
.heading-4 {
  font-size: em($size-iv, $base-font-size);
  margin-bottom: em($base-spacing-unit * 2, $size-iv);

  p + &,
  blockquote + &,
  pre + & {
    margin-top: em($base-spacing-unit * 3, $size-iv);
  }
}

h5,
.heading-5 {
  font-size: em($size-v, $base-font-size);
  margin-bottom: em($base-spacing-unit * 2, $size-v);

  p + &,
  blockquote + &,
  pre + & {
    margin-top: em($base-spacing-unit * 3, $size-v);
  }
}

h6,
.heading-6 {
  font-size: em($size-vi, $base-font-size);
  margin-bottom: em($base-spacing-unit * 2, $size-vi);

  p + &,
  blockquote + &,
  pre + & {
    margin-top: em($base-spacing-unit * 3, $size-vi);
  }
}
