/*------------------------------------*\
    $LINKS
\*------------------------------------*/
a {
  color: $color-link-regular;
  cursor: pointer;

  &:hover,
  &:active {
    color: $color-link-active;
  }
}

/**
 * ‘Current’ states, e.g.:
 *
   <ul class=nav>
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li class=current><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
.current > a {
  cursor: text;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    color: $color-link-regular;
  }
}
