<footer class="site-footer">
  <div class="wrapper">
    <nav class="footer-nav">
      <section>
        <h3 class="footer-nav__heading">Guide</h3>
        <ul class="unstyled-list">
          <% site.pages.find({type: 'guide', draft: undefined}).sort('order').each( p => { %>
            <li class="footer-nav__item">
              <a href="<%- url_for(p.path) %>"
                 class="footer-nav__link">
                <%- p.title %>
              </a>
            </li>
          <% }) %>
        </ul>
      </section>
      <section>
        <h3 class="footer-nav__heading">Resources</h3>
        <ul class="unstyled-list">
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="https://codepen.io/collection/XPjqyK/">
              View the demos
            </a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="https://stackoverflow.com/search?tab=newest&q=scrollnav.js">
              Get some help
            </a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="https://github.com/jimmynotjim/scrollnav/issues/new">
              Report an issue
            </a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="https://github.com/jimmynotjim/scrollnav">
              View the source code
            </a>
          </li>
        </ul>
      </section>
      <section>
        <h3 class="footer-nav__heading">More</h3>
        <ul class="unstyled-list">
          <li class="footer-nav__item">
              <a class="footer-nav__link" href="https://github.com/jimmynotjim/scrollnav/blob/master/CONTRIBUTING.md">
                Lend a hand
            </a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="https://www.paypal.me/jimmynotjim">
              Make a donation
            </a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="https://github.com/jimmynotjim/scrollnav.com">
              View this docsite's source code
            </a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="/v2/">
              View the v2 documentation
            </a>
          </li>
        </ul>
      </section>
    </nav>
    <div class="footer-meta">
      <p>scrollnav.js is built and maintained by James Wilson <a href="https://github.com/jimmynotjim/">(@jimmynotjim)</a></p>
      <p>Copyright 2012-2018, released under <a href="https://opensource.org/licenses/MIT">the MIT license</a></p>
    </div>
  </div>
</footer>

<% if ( page.type === 'guide' ) { %>
  <script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=default,NodeList.prototype.forEach,Array.prototype.includes"></script>
  <script src="https://unpkg.com/scrollnav@3.0.2/dist/scrollnav.min.umd.js"></script>
  <script>
    const content = document.querySelector('.article-entry');
    const sidebarCurrent = document.querySelector('.toc__item.current');
    scrollnav.init(content, {
      insertTarget: sidebarCurrent,
      insertLocation: 'append'
    });
  </script>
<% } %>

<% if ( page.type === 'v2' ) { %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="https://rawgit.com/jimmynotjim/scrollNav/v2.7.3/dist/jquery.scrollNav.min.js"></script>
  <script>
    $('.article-inner').scrollNav({
			headlineText: 'scrollnav',
			fixedMargin: 60,
			scrollOffset: 80,
      arrowKeys: false,
      insertTarget: $('.sidebar__inner'),
      insertLocation: 'appendTo',
      showTopLink: false,
      showHeadline: false,
      className: 'v2-toc'
		});
  </script>
<% } %>
