<header class="site-header">
  <div class="wrapper">
    <a class="site-logo site-header__logo" href="/">
      <%- inline_svg('/images/scrollnav-mark.svg') %>
      <span class="site-logo__text"><strong>scrollnav</strong>.js</span>
    </a>
    <nav class="site-nav">
      <ul class="unstyled-list site-nav__list">
        <li class="site-nav__item">
          <a class="site-nav__link" href="/guide/">Guide</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="https://codepen.io/collection/XPjqyK/">Examples</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="/#contribute">Contribute</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
