<header class="site-header">
  <div class="wrapper">
    <a class="site-logo"
       href="/">
       <span class="site-logo__text"><strong>scrollnav</strong>.js</span>
    </a>
    <nav class="site-nav">
      <ul class="unstyled-list site-nav__list">
        <li class="site-nav__item">
          <a class="site-nav__link" href="/guide/">Guide</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="/examples/">Examples</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="/contribute/">Contribute</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
