<div class="sidebar">
  <div class="sidebar__inner">
    <header class="sidebar__header">
      <h2 class="sidebar__heading">
        <%- type.charAt(0).toUpperCase() + type.slice(1) %>
      </h2>
      <span class="sidebar__small">
        Ver. <%= config.current_version %>
      </span>
    </header>
    <%- partial('toc', { type: type }) %>
  </div>
</div>
