<div class="sidebar">
  <div class="sidebar__inner">
    <header class="sidebar__header">
      <h2 class="sidebar__heading">
        <%= page.type === 'v2' ? 'v2 Docs' : type.charAt(0).toUpperCase() + type.slice(1) %>
      </h2>
      <span class="sidebar__small">
        Ver.
        <%= page.type === 'v2' ? '2.7.3' : config.current_version %>
      </span>
    </header>
    <%- partial('toc', { type: type }) %>
  </div>
</div>
