@function em($target-unit, $base-unit) {
  @return $target-unit / $base-unit * 1em;
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$color-text-regular: rgb(58, 73, 90);
$color-text-dark: rgb(60, 81, 105);
$color-link-regular: rgb(15, 98, 171);
$color-link-active: rgb(0, 191, 160);
$color-nav-link-regular: #2762a6;
$color-nav-link-active: #2762a6;
$color-bg-light: #e8eaf3;
$color-bg-lighter: #f5f6fb;
$color-divider: #c8cfd6;

$base-font-size: 17px;
$base-spacing-unit: 10px;

$size-i: 30px;
$size-ii: 26px;
$size-iii: 22px;
$size-iv: 19px;
$size-v: $base-font-size;
$size-vi: 14px;

@import '_base/_headings';
@import '_base/_links';
@import '_base/_lists';


@use "variables" as *;
@use "util/unit";

/* Allows full height background colors other than white */
html,
body,
#root {
    height: 100%;
}

html {
  color: $color-text-regular;
  font-family: 'Lato', sans-serif;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

// Default body styles
body {
  background: white;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

img {
  // Get rid of gap under images by making them display: block by default
  display: block;

  // Grid defaults to get images and embeds to work properly
  height: auto;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  vertical-align: middle;
}

code {
  font-family: 'Menlo', monospace;
  font-size: 13px;

  p & {
    background-color: $color-bg-lighter;
    padding: 4px;
  }
  .article-note & {
    background-color: shade($color-bg-lighter, 8%);
  }
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: 'Menlo', monospace !important;
  background-color: $color-bg-lighter !important;
}

strong {
  font-weight: 700;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: em(20px, $base-font-size);
  padding-right: em(20px, $base-font-size);

  @media screen and (min-width: em(700px, $size-v)) {
    padding-left: em(50px, $base-font-size);
    padding-right: em(50px, $base-font-size);
  }
}

.site-header {
  border-bottom: 1px solid $color-divider;

  .wrapper {
    @media screen and (min-width: em(600px, $size-v)) {
      display: flex;
      justify-content: space-between;
    }

    @media screen and (max-width: em(599px, $size-v)) {
      padding-bottom: em(10px, $base-font-size);
      padding-top: em(10px, $base-font-size);
    }
  }
}

.site-header__logo {
  display: block;
  font-size: 22px;
  padding: em(10px, $base-font-size);
  text-decoration: none;

  &:hover {
    color: $color-nav-link-regular;
  }

  @media screen and (max-width: em(599px, $size-v)) {
    display: flex;
    justify-content: center;
  }
}

.site-logo {
  display: flex;
  align-items: center;

  .scrollnav-mark {
    color: #eda640;
    margin-right: 0.2em;
  }
  strong {
    font-weight: 900;
  }
}

.site-nav__list {
  display: flex;

  @media screen and (max-width: em(599px, $size-v)) {
    justify-content: space-around;
  }
}

.site-nav__link {
  display: block;
  font-size: em($size-v, $base-font-size);
  font-weight: 700;
  padding: em(10px, $size-v) em(15px, $size-v);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @media screen and (max-width: em(599px, $size-v)) {
    min-width: em(100px, $size-v);
    text-align: center;
  }

  @media screen and (min-width: em(600px, $size-v)) {
    padding-bottom: em(20px, $size-v);
    padding-top: em(20px, $size-v);
  }
}

.container {
  margin-bottom: 60px;
  margin-top: 60px;
}

.container--home {
  margin-top: 0;
}

.container--has-sidebar {
  @media screen and (min-width: em(830px, $size-v)) {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: calc(37.5% - 10px) calc(62.5% - 10px);
    grid-gap: em(20px, $base-font-size);
  }

  @media screen and (min-width: em(900px, $size-v)) {
    grid-template-rows: auto;
    grid-template-columns: calc(30% - 20px) calc(60% - 20px);
    grid-gap: em(40px, $base-font-size);
  }

  @media screen and (min-width: em(1080px, $size-v)) {
    grid-template-rows: auto;
    grid-template-columns: calc(25% - 20px) calc(75% - 20px);
    grid-gap: em(40px, $base-font-size);
  }
}

.sidebar__inner {
  position: sticky;
  top: 50px;
  margin-bottom: 80px;
}

.sidebar__header,
.toc,
.v2-toc {
  padding: 10px 20px;
}

.sidebar__header {
  align-items: flex-end;
  background-color: $color-bg-light;
  border: 1px solid $color-bg-light;
  display: flex;
  justify-content: space-between;
}

.sidebar__heading {
  font-size: em($size-iv, $base-font-size);
  font-weight: 900;
  margin: 0;
}

.sidebar__small {
  color: $color-text-dark;
  font-size: $size-vi;
  font-weight: 700;
  line-height: 1.45;
}

.toc,
.v2-toc {
  border: 1px solid $color-divider;
  border-top: none;
  font-weight: 400;
  font-size: em($size-v, $base-font-size);

  @media screen and (min-width: em(830px, $size-v)) {
    padding-bottom: 30px;
    padding-top: 20px;
  }
}

.scroll-nav__list,
.v2-toc__list {
  @extend .unstyled-list;

  margin-top: 8px;
  padding-left: 15px;
  position: relative;
}

.toc__item,
.scroll-nav__item,
.v2-toc__item {
  margin-bottom: 8px;
}

.scroll-nav__item--active:before,
.v2-toc__item--active:before {
  border-left: 2px solid $color-link-active;
  content: '';
  display: block;
  height: 1em;
  left: 0;
  position: absolute;
}

.toc__link,
.scroll-nav__link,
.v2-toc__link {
  display: block;
  text-decoration: none;
}

.pagination {
  margin-top: 40px;
}

.pagination__links {
  display: flex;
  justify-content: space-between;
}

.pagination__link {
  min-width: em(100px, $base-font-size);
}

.article {
  line-height: 1.5;
}

.article-inner {
  margin-bottom: 60px;
}

.article-title {
  margin-top: 0;
}

.article-entry {
  margin-bottom: 40px;
}

.article-intro {
  font-size: $size-iii;
}

.article-note,
.article-footer {
  background-color: $color-bg-lighter;
  padding: 15px 20px;
  border-left: 4px solid $color-link-regular;
}

.article-note {
  border-left-color: rgb(247, 163, 25);
}

.btn {
  background-color: $color-link-regular;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $color-link-active;
    color: #fff;
  }
}

.btn--outline {
  background-color: transparent;
  border: 1px solid $color-link-regular;
  color: $color-link-regular;

  &:hover {
    background-color: $color-link-regular;
  }

  &.btn--white {
    border: 1px solid #fff;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: $color-link-regular;
    }
  }
}

.site-footer {
  background-color: $color-bg-light;
  font-size: $size-v;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-nav {
  display: grid;
  font-weight: 400;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  width: 80%;
  margin: 0 auto 40px;
}

.footer-nav__heading {
  font-size: $size-v;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-nav__item {
  margin-bottom: 8px;
}

.footer-nav__link {
  text-decoration: none;
}

.footer-meta {
  text-align: center;
}

.home-hero {
  background-color: #2762a6;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: em(1080px, $size-v)) {
    padding-right: 140px;
    padding-left: 140px;
  }
}

@media screen and (min-width: em(830px, $size-v)) {
  .home-hero {
    display: grid;
    grid-template-areas: "home-hero-logo home-hero-description"
                         "home-hero-links home-hero-links";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 60px;
    padding-top: 140px;
    padding-bottom: 80px;
  }

  .home-hero__logo {
    grid-area: home-hero-logo;
  }

  .home-hero__description {
    grid-area: home-hero-description;
  }

  .home-hero__links {
    grid-area: home-hero-links;
  }
}

.home-hero__logo {
  font-size: 34px;

  @media screen and (max-width: em(829px, $size-v)) {
    .site-logo {
      justify-content: center;
    }
  }

  @media screen and (min-width: em(830px, $size-v)) {
    font-size: 42px;
  }
}

.home-hero__description {
  font-size: 22px;
  margin: 40px 0;

  @media screen and (min-width: em(830px, $size-v)) {
    margin: 0;
    font-size: 28px;
  }
}

.home-hero__links {
  @media screen and (min-width: em(600px, $size-v)) {
    display: flex;
    justify-content: center;
  }

  li {
    margin: 0 40px;

    &:first-child {
      @media screen and (max-width: em(599px, $size-v)) {
        margin-bottom: 20px;
      }
    }
  }

  .btn {
    display: block;
    font-size: $size-iv;
    min-width: 180px;

    @media screen and (min-width: em(830px, $size-v)) {
      min-width: 240px;
    }
  }
}

.home-features {
  font-size: em($size-iv, $base-font-size);
  padding-top: 80px;
  padding-bottom: 60px;
  border-bottom: 1px solid $color-divider;
}

.home-features__heading {
  text-align: center;
}

.home-features__list {
  margin-top: 60px;

  @media screen and (min-width: em(830px, $size-v)) {
    display: grid;
    grid-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
  }

  svg {
    margin: 0 auto 40px;
    display: block;
  }

  h3 {
    text-align: center;
  }

  li:not(:last-child) {
    @media screen and (max-width: em(829px, $size-v)) {
      margin-bottom: 40px;
    }
  }
}

.home-contribute {
  padding-top: 80px;
  padding-bottom: 40px;
}

.home-contribute__content {

  @media screen and (min-width: em(830px, $size-v)) {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "home-contribute-description home-contribute-links";
    grid-gap: 30px;
    margin: 0 auto;
  }

  @media screen and (min-width: em(940px, $size-v)) {
    max-width: 80%;
  }

  @media screen and (min-width: em(1120px, $size-v)) {
    max-width: 70%;
  }
}

.home-contribute__heading {
  text-align: center;

  @media screen and (min-width: em(830px, $size-v)) {
    margin-bottom: 40px;
  }
}

.home-contribute__description {
  font-size: 21px;
  margin: 40px 0;

  @media screen and (min-width: em(830px, $size-v)) {
    grid-area: home-contribute-description;
    margin: 0;
  }
}

.home-contribute__links {
  @media screen and (min-width: em(600px, $size-v)) and (max-width: em(829px, $size-v)) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: em(830px, $size-v)) {
    grid-area: home-contribute-links;
  }

  li {

    &:first-child {
      @media screen and (max-width: em(599px, $size-v)) {
        margin-bottom: 20px;
      }

      @media screen and (min-width: em(600px, $size-v)) and (max-width: em(829px, $size-v)) {
        margin-left: 40px;
        margin-right: 40px;
      }

      @media screen and (min-width: em(830px, $size-v)) {
        margin-bottom: 20px;
      }
    }
  }


  .btn {
    display: block;
    font-size: $size-iv;
  }
}
