<section class="home-hero wrapper">
  <div class="home-hero__logo">
    <div class="site-logo">
      <%- inline_svg('/images/scrollnav-mark.svg') %>
      <span class="site-logo__text"><strong>scrollnav</strong>.js</span>
    </div>
  </div>
  <p class="home-hero__description">
    A small, dependency free JavaScript plugin for auto generating and
    tracking single page navigation (aka a Table of Contents)
  </p>
  <ul class="home-hero__links unstyled-list">
    <li>
      <a class="btn btn--outline btn--white" href="/guide/installing.html">
        Get started
      </a>
    </li>
    <li>
      <a class="btn btn--outline btn--white" href="https://codepen.io/collection/XPjqyK/">
        View the demos
      </a>
    </li>
  </ul>
</section>
<section class="home-features wrapper">
  <h2 class="home-features__heading">Features</h2>
  <ul class="home-features__list unstyled-list">
    <li>
      <h3>
        Simple setup
      </h3>
      <p>
        Pass your page’s content to scrollnav and it will generate the
        navigation and track scrolling automatically.
      </p>
    </li>
    <li>
      <h3>
        Fully customizable
      </h3>
      <p>
        All the styling is up to you, make scrollnav look and behave
        however works best for your project.
      </p>
    </li>
    <li>
        <h3>
          Lightning fast
        </h3>
        <p>
          Damn right it's fast! At 2.4kb and zero dependencies scrollnav
          is pretty unintrusive.
        </p>
    </li>
  </ul>
</section>

<section class="home-contribute wrapper">
  <h2 class="home-contribute__heading" id="contribute">Contribute</h2>
  <div class="home-contribute__content">
    <p class="home-contribute__description">
      scrollnav.js depends on the contributions of the Open Source Community,
      both directly to the codebase and monetarily. If you’re interested in
      supporting this project, please consider lending a hand or making a
      donation.
    </p>
    <ul class="home-contribute__links unstyled-list">
      <li>
        <a
            class="btn btn--outline"
            href="https://github.com/jimmynotjim/scrollNav/blob/master/CONTRIBUTING.md"
        >
          Lend a hand
        </a>
      </li>
      <li>
        <a class="btn btn--outline" href="https://www.paypal.me/jimmynotjim">
          Make a donation
        </a>
      </li>
    </ul>
  </div>
</section>
